# MongoDB Atlas Connection String
MONGODB_URI=mongodb://raghavgambhir10135:14DEC2006ac-zfe5pim-shard-00-00.tu8fqrh.mongodb.net:27017,ac-zfe5pim-shard-00-01.tu8fqrh.mongodb.net:27017,ac-zfe5pim-shard-00-02.tu8fqrh.mongodb.net:27017/?ssl=true&replicaSet=atlas-m2zgje-shard-0&authSource=admin&appName=Cluster0

# JWT Secret (change this to a strong random string)
JWT_SECRET=focushub_super_secret_jwt_key_change_me

# Server Port
PORT=5000

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000
